.kanban_parent {
  overflow: hidden; /* required */
}

.kanban_ribbon {
  margin: 0;
  padding: 0;
  background: darkred;
  color:white;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.kanban_ribbon:before,
.kanban_ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: darkred;
}
.kanban_ribbon:before {
  right:100%;
}

.kanban_ribbon:after {
  left:100%;
}
.badge {
    font-size: 100% !important;
}